@{
    Layout = "_LayoutArticle";
}

<div class="container mt-2 mb-1 container-background">
    <!-- Article Head -->
    <div class="row"><h3 class="mx-2 my-3">Article Head</h3></div>

    <!--Article Abstract start-->
    <div class="row">
        <p class="mx-2 my-3">Esse ea ut pariatur et. Esse nulla aute anim labore amet est est eiusmod qui. Do et ad dolore nostrud pariatur irure occaecat reprehenderit nostrud nisi in sit. Do esse laboris incididunt non do sit id nostrud amet consectetur labore.
        Excepteur amet tempor sit sunt do. Sit magna irure cupidatat sit ut consequat sint id. Tempor id quis qui aliquip dolor ipsum consectetur tempor non dolore magna. Excepteur culpa ad ex sit ad. Labore ut cupidatat cupidatat eu in consectetur exercitation laboris do dolor fugiat incididunt. Amet commodo qui ipsum ullamco qui anim veniam irure sint magna ipsum Lorem.</p>
    </div>
    <!-- Article Abstract end-->

    <!--Article Start-->
    <div class="row p-3">
        <p>Veniam irure dolor culpa cillum. Ex eu veniam adipisicing proident. Eu dolor ad do et eiusmod reprehenderit laborum Lorem irure dolore. Fugiat reprehenderit ullamco sint elit veniam nostrud commodo aliqua. Do sunt velit amet ut ad deserunt. Veniam magna reprehenderit do non dolor.</p>
        <p>Reprehenderit dolor eu occaecat ut veniam. Lorem consectetur officia enim dolor fugiat dolore cupidatat anim qui quis anim. Cupidatat fugiat in exercitation esse deserunt. Laboris eu magna ea minim adipisicing incididunt. Reprehenderit nisi occaecat laborum duis sint tempor.</p>
        <p>Amet minim sit sint culpa sit incididunt enim anim exercitation. Id aute non incididunt pariatur ut eu qui ipsum magna ipsum excepteur ullamco. Amet est excepteur do elit et enim labore. Dolore laborum labore ut tempor amet duis duis. Proident anim quis commodo laboris ea ea excepteur anim mollit. Ut velit ut ut magna do esse minim voluptate.</p>
        <p>Amet minim sit sint culpa sit incididunt enim anim exercitation. Id aute non incididunt pariatur ut eu qui ipsum magna ipsum excepteur ullamco. Amet est excepteur do elit et enim labore. Dolore laborum labore ut tempor amet duis duis. Proident anim quis commodo laboris ea ea excepteur anim mollit. Ut velit ut ut magna do esse minim voluptate.</p>
        <p>Amet minim sit sint culpa sit incididunt enim anim exercitation. Id aute non incididunt pariatur ut eu qui ipsum magna ipsum excepteur ullamco. Amet est excepteur do elit et enim labore. Dolore laborum labore ut tempor amet duis duis. Proident anim quis commodo laboris ea ea excepteur anim mollit. Ut velit ut ut magna do esse minim voluptate.</p>
    </div>
</div>

<!-- Comment block -->
<div class="container">
    <!-- There is no comment -->
    <div class="row justify-content-center">
            <h3>There is no comment here.</h3>
    </div>

    <!-- Comment block start-->
    <div class="row my-2 border-bottom border-dark">
        <div class="col-2 col-lg-1 justify-content-center">
            <i class="fas fa-user-tie fa-3x align-middle"></i>
        </div>
        <div class="col-10 col-lg-11">
            here is a comment
            <span class="border-bottom-1"></span>
        </div>
    </div>
    <!-- Comment block end -->

    <!-- Comment block start-->
    <div class="row my-2 border-bottom border-dark">
        <div class="col-2 col-lg-1 justify-content-center">
            <i class="fas fa-user-tie fa-3x align-middle"></i>
        </div>
        <div class="col-10 col-lg-11">
            here is a comment
            <span class="border-bottom-1"></span>
        </div>
    </div>
    <!-- Comment block end -->

    <!-- Comment block start-->
    <div class="row my-2 border-bottom border-dark">
        <div class="col-2 col-lg-1 justify-content-center">
            <i class="fas fa-user-tie fa-3x align-middle"></i>
        </div>
        <div class="col-10 col-lg-11">
            here is a comment
            <span class="border-bottom-1"></span>
        </div>
    </div>
    <!-- Comment block end -->

    <!-- Comment form block -->
    <div class="row mt-3">
        <form style="width:100%">
            <div class="form-group">
                <div class="row my-2">
                    <div class="col-2">
                        <label for="userName"><strong>Ad覺n覺z Soyad覺n覺z:</strong></label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm" id="userName" required>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-2">
                        <label for="comment"><strong>Yorumunuz</strong></label>
                    </div>
                    <div class="col-6">
                        <textarea class="form-control" id="comment" rows="5" style="resize:none" required></textarea>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-8">
                        <div class="row justify-content-end pr-3">
                            <button type="submit" class="btn btn-dark">Yorum Yap</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>