@model HomeViewModel
@{
    Layout = "_LayoutMain";
    ViewData["categoryList"] = Model.categories;//Data pass to _LayoutMain.cshtml
    ViewData["pageNumber"] = Model.currentPageNumber;//Data pass to _LayoutMain.cshtml
}
<div class="container mt-2 mb-5 container-background border rounded">
    <div class="row">
        @foreach (var item in Model.articles)
        {
            @await Component.InvokeAsync("ArticlePreview",item)
        }
    </div>
</div>