<!--footer start-->
    <footer class="mastfoot mt-auto bg-dark text-center">
        <div class="inner py-2">
            <div class="row py-1">
                <div class="col text-truncate text-white">
                    <h4>Emrullah YILDIZ</h4>
                </div>
            </div>
            <span>
                <a target="_blank" href="https://github.com/emrullahYildiz">
                    <i class="fab fa-github fa-2x px-1" style="color:white"></i>
                </a>
            </span>
            <span>
                <a href="mailto:yildiz.emrullah@outlook.com?Subject=Hello%20again" target="_top">
                    <i class="far fa-envelope fa-2x px-1" style="color:white"></i>
                </a>
            </span>
            <span><i class="fab fa-linkedin-in fa-2x px-1" style="color:white"></i></span>
        </div>
    </footer>
<!-- footer end -->