<nav class="navbar navbar-light bg-dark sticky-top">
    <span class="navbar-brand h1 text-white">Blog - Admin Panel</span>

    <a class="float-right bg-primary m-2 p-2 text-white rounded" href="/Admin/Logout">Çıkış Yap</a>
</nav>
