@model Article
<div class="col-sm-12 col-md-6 col-lg-4 py-1">
    <div class="card">
        <img class="card-img-top" src="@Model.ArticleImage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.ArticleHead</h5>
            <p class="card-text">
                @Model.ArticleAbstract
            </p>
            <a href="/Article/Index/@Model.ArticleID" class="badge badge-dark float-right">Devamını oku</a>
        </div>
    </div>
</div>